<data-table id="persons-grid"
headerTitle="POC Details"
[items]="items"
[itemCount]="itemCount"
(reload)="reloadItems($event)"

(rowClick)="rowClick($event)"
(rowDoubleClick)="rowDoubleClick($event)"
[rowTooltip]="rowTooltip"
>
<data-table-column
    [property]="'PocID'"
    [header]="'PoCId'"
    [sortable]="true"
    [resizable]="true">
</data-table-column>
<data-table-column
    [property]="'ClientID'"
    [header]="'CustomerId'"
    [sortable]="true"
    [resizable]="true">
</data-table-column>
<data-table-column
    [property]="'URL_IP'"
    [header]="'URL'">
    
</data-table-column>
<!--
<data-table-column
    property="Vulnerability"
    header="Vulnerability"
    >
</data-table-column>
<data-table-column
    [property]="'Severity'"
    [header]="'Severity'"
    [visible]="true">

</data-table-column>
-->
<data-table-column
    [property]="'RequestDate'"
    [header]="'Request Date'"
    [visible]="true"
    [sortable]="true">
    <ng-template #dataTableCell let-item="item">
            <span>{{item.RequestDate | date:'yyyy-MM-dd'}}</span>
    </ng-template>
</data-table-column>
<data-table-column
    [property]="'DueDate'"
    [header]="'End Date'"
    [visible]="true"
    [sortable]="true">
    <ng-template #dataTableCell let-item="item">
            <span>{{item.RequestDate | date:'yyyy-MM-dd'}}</span>
    </ng-template>
</data-table-column>
</data-table>