

       
       <div class="container-fluid ">
         <br>
        
          <div class="row">
            <div class="col-md-8">
                <ngb-alert [dismissible]="true">
                  <strong>Alert!</strong> The broadcast messages will go here.
                </ngb-alert>
              </div>
              <div class="col-md-4"></div>
           </div>
         
               <div id="parent_div_1">
                <div class="row" >
                <div class="col-md-12 text-center">
                  <span class="panel-title"><b>POC </b></span>  
                </div>
                </div>
                <br>
                 <div class="row">
                    <div class="col-md-12 text-center">
                      <span class="header_text">{{totalduePoc}}</span>
                    </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                        <span style="color:red">Total POCs Pending</span> 
                    <!--  <span style="color:red">Total POCs Pending</span> -->
                    </div>
                 </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-4 text-center">
                    <span class="header_text">{{pendingPoc}}</span>
                  </div>
                  <div class="col-md-4 text-center">
                    <span class="header_text">{{duetodayPoc}}</span>
                  </div>
                  <div class="col-md-4 text-center">
                    <span class="header_text">{{overduePoc}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-danger" (click)="rediretPoc()">POC Overdue</button>
                  </div>
                  <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-warning " (click)="rediretPoc()">POC Due Today</button>
                  </div>
                  <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-success" (click)="rediretPoc()">POC Due Later</button>
                  </div>
                </div>
               </div>
               <div id="parent_div_2" class="parent_div_2">
                  <div class="row" >
                      <div class="col-md-12 text-center">
                      <span class="panel-title"><b>TAS </b></span>
                    </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <span style="color:red"> {{loggedInUser}} </span>
                      </div>
                    </div>
                    <br>
                     <div class="row">
                        <div class="col-md-6 text-center">
                          <span>Total Customers Served</span>
                        </div>
                        <div class="col-md-6">
                            <span>10</span>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-md-6 text-center">
                          <span>Total Websites</span>
                        </div>
                        <div class="col-md-6">
                            <span>50</span>
                           
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-md-6 text-center">
                          <span>Pending PoCs</span>
                        </div>
                        <div class="col-md-6">
                            <span>30</span>
                            
                        </div>
                     </div> 
                    
                </div>
               <br><br>
                <div id="parent_div_3" class="parent_div_3">
                    <div class="row" >
                        <div class="col-md-12 text-center">
                        <span class="panel-title"><b>WAS </b></span>
                      </div>
                      </div>
                      <br>
                       <div class="row">
                          <div class="col-md-6 text-center">
                            <span>Total Customers Served</span>
                          </div>
                          <div class="col-md-6">
                              <span>10</span>
                          </div>
                       </div>
                       <br>
                       <div class="row">
                          <div class="col-md-6 text-center">
                            <span>Total Websites</span>
                          </div>
                          <div class="col-md-6">
                              <span>50</span>
                             
                          </div>
                       </div>
                       <br>
                       <div class="row">
                          <div class="col-md-6 text-center">
                            <span>Pending PoCs</span>
                          </div>
                          <div class="col-md-6">
                              <span>30</span>
                              
                          </div>
                       </div>
                  </div>
                  <div id="parent_div_4" class="parent_div_4">
                      <div class="row" >
                          <div class="col-md-12 text-center">
                              <span class="panel-title"><b>Customers </b></span>
                        </div>
                        </div>
                        <br>
                         <div class="row">
                            <div class="col-md-6 text-center">
                              <span>Total Customers Served</span>
                            </div>
                            <div class="col-md-6">
                                <span>10</span>
                            </div>
                         </div>
                         <br>
                         <div class="row">
                            <div class="col-md-6 text-center">
                              <span>Total Websites</span>
                            </div>
                            <div class="col-md-6">
                                <span>50</span>
                               
                            </div>
                         </div>
                         <br>
                         <div class="row">
                            <div class="col-md-6 text-center">
                              <span>Pending PoCs</span>
                            </div>
                            <div class="col-md-6">
                                <span>30</span>
                                
                            </div>
                         </div>
                    </div>
        </div>         
