
             <div class="row" style="border-width:2em; border-color:#c9dbec">
               <div class="col-md-12" style="border:1px solid #a7b2d4;display:inline-block" >
                  <img id="Sla_logo" src="..\..\assets\images\lastscannedclock.png"><b> SLA</b>
                  <br>
               </div>
            </div> 
            <div class="row" style="height:100%" >
                <div class="col-md-2" style=" background-color:#f1f4f7;border:1px solid rgb(167, 178, 212);min-height:610px"  >
                    <br>
                    <br>
                      <div class="list-group">
                        <a class="list-group-item active" routerLink="/poc">POC</a>
                        <a href="#" class="list-group-item">Tickets</a>
                        <a href="#" class="list-group-item">Custom Rules</a>
                        
                      </div>
                                                             
                </div>
                <div class="col-md-10" style="border:1px solid rgb(167, 178, 212)" >
                  <!--
                  <span> <h4 style="color:rgb(167, 178, 212)">POC</h4></span>
                  -->
                  <!--bread crumbs-->
                  <!--
                  <div class="row">
                    <div class="col-md-12">
                       <ol class="breadcrumb">
                         <li class="active"> <h4 style="color:rgb(167, 178, 212)">SLA/POC</h4></li>        
                       </ol>
                    </div>
                 </div> 
                -->
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" value="CustomerId" style="float:right" />
                      </div>
                      <div class="col-md-3">
                          <input type="text" class="form-control" value="Vulnerability" style="float:right" />
                      </div>
                      <div class="col-md-3">
                            
                            <div class="form-group">
                                
                                <div class='input-group date' id='datetimepicker1' data-provider="datepicker">
                                    <input type='text' class="form-control" style="width:150px;float:right" value="Request Date"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2' data-provider="datepicker">
                                    <input type='text' class="form-control" style="width:150px" value="End Date"/>
                                    <span class="input-group-addon" style="float:left">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                   
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <div class="form-group" style="float:right">
                                    <label for="sel1">Status:</label>
                                    <select class="form-control" id="sel1" style="width:150px">
                                      <option>Requested</option>
                                      <option>Completed</option>
                                      <option>False Positive</option>
                                     
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="sel1">Severity:</label>
                                    <select class="form-control" id="sel1" style="width:150px">
                                      <option>Critical</option>
                                      <option>High</option>
                                      <option>Medium</option>
                                     
                                    </select>
                                  </div>
                                </div>
                                
                                          
                    </div>
                    <div class="row">
                    <div class="col-md-6" >
                        <button type="button" class="btn btn-light" style="float:right">Search</button>
                    </div>
                    <div class="col-md-6">
                            <button type="button" class="btn btn-light">Reset</button>
                    </div>
                    
                    </div>
                    <!--
                 <div class="row">
                     <br>
                    <div class="col-md-6">
                      <input type="text" value="CustomerId" style="float:right" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" value="Vulnerability" />
                    </div>
                </div>
                                
                  <br>
                  <div class="row">
                      <div class="col-md-6">
                          
                          <div class="form-group">
                              
                              <div class='input-group date' id='datetimepicker1' data-provider="datepicker">
                                  <input type='text' class="form-control" style="width:150px;float:right" value="Request Date"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                          </div>
                      </div>
                      <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script> 
                -->
                <!--
                <div class="col-md-3"></div>
                    <div class="col-md-3" style="height:200px;width:200px;float:right ">
                    <ngbd-datepicker-basic>
                        <input ng-model="date"/>
                    </ngbd-datepicker-basic>
                    </div>
                </div>
            -->
            <!--
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" style="width:150px" value="End Date"/>
                                <span class="input-group-addon" style="float:left">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                      <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker2').datetimepicker();
                        });
                    </script>
                      
                 </div>
                 
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group" style="float:right">
                            <label for="sel1">Status:</label>
                            <select class="form-control" id="sel1" style="width:150px">
                              <option>Completed</option>
                              <option>Pending</option>
                              <option>Overdue</option>
                             
                            </select>
                          </div>
                        </div>
                   
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label for="sel1">Severity:</label>
                            <select class="form-control" id="sel1" style="width:150px">
                              <option>Critical</option>
                              <option>High</option>
                              <option>Medium</option>
                             
                            </select>
                          </div>
                    </div>
                    </div>
                    <br>
                    <div class="row" style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
                    -->
                        <!--
                      <div class="col-md-12">
                          
                          <table class="table table-striped">
                            <tr class="table-header">
                              <td>CustomerId</td>
                              <td>URL</td>
                              <td>Vulnerability</td>
                              <td>Severity</td>
                              <td>Request Date</td>
                              <td>End Date</td>
                              
                            </tr>
                           
                        <tr *ngFor="let pocDetails of pocDetailsList">
                            <td>{{pocDetails.ClientID}}</td>
                            <td>{{pocDetails.URL_IP}}</td>
                            <td>{{pocDetails.AlertID}}</td>
                            <td>{{pocDetails.Status}}</td>
                            <td>{{pocDetails.RequestDate}}</td>
                            <td>{{pocDetails.DueDate}}</td>
                        </tr>
                          </table>
                        -->
                        <div *ngIf = "dataLoaded">
                            
                            <data-table-1  [pocList]="pocDetailsList"></data-table-1>
                        </div>
                        
                        
                    </div>
            <!--    </div> -->

             </div> 
           