
<html>
  <head>
    Sla Portal
  </head>
  <body>
    <div class="container" >
      <div class="row">
        <div class="col-md-12" style=" background-color:#f1f4f7">
          <header-panel></header-panel>
         </div>
      </div>
      <div class="row">
        <!--
        <div class="col-md-2" style=" background-color:#f1f4f7">
            <left-panel></left-panel>
        </div> -->
        <div class="col-md-12 maindiv">
           <right-panel></right-panel>
        </div>
      </div>
    
    </div> 
<!--
<div class="container">
    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Dashboard</b> </ng-template>
        <ng-template ngbTabContent>
          <p>This is the content of the first tab!</p>
          <ngb-alert [dismissible]="false">
            <strong>Warning!</strong> This is an alert!
          </ngb-alert>
        </ng-template>
      </ngb-tab>
      <ngb-tab> 
        <ng-template ngbTabTitle><b>SLA</b> </ng-template>
        <ng-template ngbTabContent>
          <p>This is the content of the second tab!</p>
          <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p>
          <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
          <p><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></p>
          <p><ngb-progressbar type="danger" [value]="100"></ngb-progressbar></p>
        </ng-template>
      </ngb-tab>
      <ngb-tab  [disabled]="false">
          <ng-template ngbTabTitle><b>TAS</b> </ng-template>
          <ng-template ngbTabContent>
            <p>This is the content of the reports tab!</p>
            <ngb-alert [dismissible]="true">
              <strong>Warning!</strong> This is an alert!
            </ngb-alert>
          </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
-->
</body>
</html>