
<html>
  <head>
    Sla Portal
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
   <!-- <link rel="stylesheet" type="text/css" href="./tab-components/poc/ngDatePicker.css"/> -->
  </head>
  <body>
    <div >
      <div class="row">
        <div class="col-md-12" style=" background-color:#f1f4f7">
          <header-panel></header-panel>
         </div>
      </div>
      <div class="row">
        <!--
        <div class="col-md-2" style=" background-color:#f1f4f7">
            <left-panel></left-panel>
        </div> -->
        <div class="col-md-12 maindiv">
           <right-panel></right-panel>
        </div>
      </div>
    
    </div> 
<!--
<div class="container">
    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Dashboard</b> </ng-template>
        <ng-template ngbTabContent>
          <p>This is the content of the first tab!</p>
          <ngb-alert [dismissible]="false">
            <strong>Warning!</strong> This is an alert!
          </ngb-alert>
        </ng-template>
      </ngb-tab>
      <ngb-tab> 
        <ng-template ngbTabTitle><b>SLA</b> </ng-template>
        <ng-template ngbTabContent>
          <p>This is the content of the second tab!</p>
          <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p>
          <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
          <p><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></p>
          <p><ngb-progressbar type="danger" [value]="100"></ngb-progressbar></p>
        </ng-template>
      </ngb-tab>
      <ngb-tab  [disabled]="false">
          <ng-template ngbTabTitle><b>TAS</b> </ng-template>
          <ng-template ngbTabContent>
            <p>This is the content of the reports tab!</p>
            <ngb-alert [dismissible]="true">
              <strong>Warning!</strong> This is an alert!
            </ngb-alert>
          </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
-->
</body>
</html>