
.headertext{
    font-weight:bold;margin-left: -15px; margin-right: 2px; border-left: 0px;
}
.subcol{
    border:none;
}
#progress_text{
    font-size: 35px;float: left;margin-top: -13px;margin-bottom: -16px;
}
#sub_text2{
    border:none; float:right;font-size:10px;font-weight:bold;
}
 #sub_text{max-width: 70px;margin-top: -7px;
    font-size: 0.9em;}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .top-logo{
      font-size:10px;}
#progress1{
    margin-bottom: 10px;
}
#progress_text{font-size: 26px;}
 #sub_text{max-width: 61px;font-size: 10px;margin-top: -13px;}
#sub_text2{font-size:8px;}
}
#headerCssId{
    margin-left: -76px;
}
#profileId{

    float:right;padding-left:0px;border:none;margin-top:10px;

}
#adminId{
    /* padding-left:35px; */
    color:grey;font-weight:20px;font-weight:bold;
}
#caredId{
    display: block;
    color: #000;
    padding: 0;
    text-decoration: none;
}
#badgeId{
    top:0px;
}
.submenu{
    margin-top:20px;
    margin-bottom:20px;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#subMenuId{
list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
li  {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li :hover {
    background-color: #555;
    color: white;

}
#siteListId{
    width: 30%;
    display: inline-block;
    border: none !important;
    font-size: 1.0em;
    height: 62px;
    font-weight: normal;
}
#sub_text3{
    border: none;
    text-align: right;
    font-size: 1.85em;
}
